<h1>Editing medical_record</h1>
<%= link_to 'Sign out', :yourpet_signed_out, :id => "Sign_out", :name => "Sign_out", :class => "linkstyle2" %>
<%= render 'form' %>

<%= link_to 'Back', medical_record_path %>
