%h1 Admin Page
= link_to 'Sign out', :yourpet_signed_out, :id => "Sign_out", :name => "Sign_out", :class => "linkstyle2"
%p
    = link_to 'View Complaints', :yourpet_view_complaint, :id => "complaints_suggestions", :name => "complaints_suggestions"
