%h1 All Complaints/Suggestions
= link_to 'Sign out', :yourpet_signed_out, :id => "Sign_out", :name => "Sign_out", :class => "linkstyle2"
%table#Complaints
  %thead
    %tr
      %th Name
      %th Complaint/Suggestion
  %tbody
    - @complaints.each do |t|
      %tr
        %td= t.username
        %td= t.complaint_suggestion

= link_to 'Back to admin home page', :yourpet_admin_view, :id => "admin", :name => "admin"
