%h1 Forgot Password
= form_for @user, :as => :user, :url => yourpet_forgot_password_path(@user) do |f|
  %p
    = f.label 'username:'
    %br/
    = f.text_field :username
  %p
    = f.submit 'Next Screen',:id=>"forgot", :name=> "forgot"
