%p Forgot Password
= form_for @user, :as => :user, :url => yourpet_forgot_password_path, :method => :put do |f|
  %p
    = f.label 'username or email:'
    %br/
    = f.text_field :username
  %p
    = f.submit 'Send Password Reset Instructions'
