%h1 Reset Password
= form_for @user, :as => :user, :url => yourpet_reset_password_path do |f|
  %p
    = f.label 'Security Question: ' + @user.securityQuestion
    %br/
    = f.text_field :securityAnswer
  %p
    = f.submit 'Reset Password',:id=> "resetpassword", :name=> "resetpassword"
