%h2 Reset Password
= form_for @user, :as => :user, :url => yourpet_reset_password_path, :method => :put do |f|
  %p
    = f.label 'Security Question: ' + :user.securityQuestion
    %br/
    = f.text_field :securityAnswer
  %p
    = f.submit 'Reset Password'
