/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#flash_error {
  border: 1px solid #000066;
  padding: 4px;
  margin-bottom: 10px;
  background-color: #ee3333;
  
}

#flash_notice {
  border: 1px solid #000066;
  padding: 4px;
  margin-bottom: 10px;
  background-color: #A3B15A;
}

html, body  {
  margin: 0;
  padding: 0;
  background: white;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
  alignment: center; 
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
  
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
.ButtonStyle{
  color: maroon;
  font-size: 100%;
  display: block;
  background-color: #F37E7E;
  width: 100px;
}

table#Complaints {
  margin: 10px;
  border-collapse: collapse;
  width: 50%;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
table#Complaints th {
  border: 2px solid black;
  font-weight: bold;
  background-color: wheat;
  padding: 4px;
  text-align: left;
}
table#Complaints td {
  padding: 4px;
  text-align: left;
  border: 1px solid #D0D0D0;
}

form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

.linkstyle1{
 position: fixed;
 top: 25px;
 right: 5px;
}

h2 {
font-size: 100%;
font-style: italic;
position: fixed;
top: 15px;
right: 100px;
}

table#petprofile{
  margin: 20px;
  border-collapse: collapse;
  width: 25%
}



